* {
   -mdfx-font-color: green;
   -mdfx-border-color-1: #888;

   -mdfx-bg-color-1: #ccc;
   -mdfx-bg-color-2: #ddd;
   -mdfx-bg-color-3: #eee;

   -mdfx-bq-color-border: #4488cc; /* the blockquote's border color */
   -mdfx-bq-color-background: #0000ff0c; /* the blockquote's background color */
}

.markdown-text {
  -fx-font-family: ARIAL;
}
.markdown-italic {
  -fx-font-style: italic;
}
.markdown-bold {
  -fx-font-weight: bold;
}
.markdown-strikethrough {
  -fx-strikethrough: true;
}

.classname {
  -mdfx-font-color: red;
  -fx-font-size: 25;
}

.markdown-link {
  -fx-text-fill: red;
}
